body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: white;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  

  form {
    margin-top: 10px;
  }
  
  input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
  }
  


  
  p {
    margin-top: 5px;
  }