.App {
  text-align: center;
}


.App-header {
  background-color: #0c47be;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  font-size: calc(10px + 2vmin);
  color: white;
}


.custom-button {
  background-color: #007bff; 
  color: white; 
  border: none;
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer;
}

.custom-input {
  border: 2px solid #007bff; /* Color del borde */
  background-color: #f0f0f0; /* Color de fondo */
  padding: 10px; /* Espacio interno */
  border-radius: 5px; /* Esquinas redondeadas */
}

.custom-input:focus {
  border: 2px solid #0056b3; 
}

